html {
  line-height: $base-line-height;
  font-size: $base-font-size;
  font-family: $font-family;
}
body {
  display: grid;
  grid-template-columns: 10% auto;
  grid-template-rows: 25% auto 25%;
  grid-template-areas: "nav header" "nav article" "nav footer";
  height: 100vh;
  margin: 0;
}
header {
  background: $primary-color;
  color: #fafafa;
  grid-area: header;
  padding: 32px;
}
footer {
  background: $secondary-color;
  color: #fafafa;
  grid-area: footer;
  padding: 32px;
}
article {
  grid-area: article;
  padding: 32px;
}
