<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/compiled.css">
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% include '_includes/_header.html' %}
    {% include '_includes/_nav.html' %}
    <article>
      {% block random %}{% endblock %}
      {% block content_title %}
      {% endblock %}
      {% block body %}
      {% endblock %}
    </article>
    {% include '_includes/_footer.html' %}
  </body>
</html>
